.form {
    padding: 30px;
}

.form__controller {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
    width: 100%;
}

.form__controller label {
    margin-bottom: 8px;
}

.form__controller div {
    position: relative;
}

.form__controller textarea {
    min-height: 80px;
}

.form__controller select {
    height: var(--height-input);
    line-height: 18px;
    font-size: 14px;
    font-weight: 400;
    appearance: none;
    cursor: pointer;
}

.form__controller select option {
    height: 26px;
}

.form__controller div input {
    height: var(--height-input);
}

.wraper {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
}

.button__submit {
    width: 100%;
    background-color: var(--color-light-green-500);
    color: var(--color-white);
    margin-top: 16px;
}

.button__submit:hover {
    background-color: var(--color-light-green-400);
}
