.body {
    display: grid;
    grid-template-columns: 4fr 5fr;
    max-width: 1200px;
    border: 1px solid var(--color-border);
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
}

.header__text {
    margin-bottom: 40px;
    text-align: center;
}

.newtask::-webkit-scrollbar,
.todolist::-webkit-scrollbar,
.todolist__content::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    cursor: pointer;
}
/* Track */
.newtask::-webkit-scrollbar-track,
.todolist__content::-webkit-scrollbar-track,
.todolist::-webkit-scrollbar-track {
    background-color: #ccc;
    border-radius: 4px;
    cursor: pointer;
}

/* newtask */
.newtask {
    overflow-y: auto;
    padding: 30px 40px;
    border-right: 1px solid var(--color-border);
}

.icon-right {
    background-image: url(../../assets/images/icon-right.png);
    height: 18px;
    width: 10px;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    cursor: pointer;
    display: none;
}

/* todolist */
.todolist {
    flex: 1;
    overflow-y: auto;
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.add__newtask {
    display: none;
    position: absolute;
    right: 20px;
    top: 20px;
    background-color: var(--color-light-green-500);
}

.add__newtask:hover {
    background-color: var(--color-light-green-400);
}

.todolist h3 {
    margin-bottom: 64px;
}

.input__search {
    height: var(--height-input);
}

.todolist__content {
    padding: 30px 40px;
    flex: 1;
    overflow-y: auto;
    position: relative;
}

.todo__list {
    margin-top: 15px;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.todo__item {
    margin-top: 15px;
    border: 1px solid var(--color-border);
    padding: 15px;
    justify-content: space-between;
    display: flex;
}

.todo__item--checkbox {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.todo__item--checkbox input {
    cursor: pointer;
}

.todo__item--checkbox h5 {
    margin-left: 8px;
}

.todo__item--action {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.action--detail {
    margin-right: 8px;
    background-color: var(--color-teal-500);
}

.action--detail:hover {
    background-color: var(--color-teal-400);
}

.action--delete {
    background-color: var(--color-red-500);
}

.action--delete:hover {
    background-color: var(--color-red-400);
}

.todo__item--detail {
    border: 1px solid var(--color-border);
}

/* Footer */
.footer {
    background-color: #e0e0e0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
    position: sticky;
    bottom: 0;
}

.footer__action {
    display: flex;
}

.action--done {
    background-color: var(--dark-blue-500);
    width: 110px;
    margin-right: 8px;
}

.action--done:hover {
    background-color: var(--dark-blue-400);
}

.action--remove {
    width: 110px;
}

/* Responsive với thiết bị < 1000 và > 750 */
@media screen and (max-width: 1000px) {
    .newtask {
        padding: 20px 20px;
    }
    .header__text {
        margin-bottom: 0;
    }
    .todolist h3 {
        margin-bottom: 30px;
    }
    .todolist__content {
        padding: 20px 20px;
    }
}

/* Responsive với thiết bị < 750 */
@media screen and (max-width: 750px) {
    .body {
        grid-template-columns: 1fr;
    }
    .newtask {
        display: none;
    }
    .todo__list {
        margin-top: 0;
    }
    .add__newtask {
        display: block;
    }
    .todo__item {
        justify-content: flex-start;
        display: flex;
        flex-direction: column;
        margin-top: 10px;
    }
    .todo__item--action {
        justify-content: space-between;
        margin-top: 5px;
    }
    .todo__item--detail Form {
        padding: 20px 10px;
    }
    .action--detail {
        width: 100%;
    }
    .action--delete {
        width: 100%;
    }
    .class-block {
        display: block;
    }
    .class-none {
        display: none;
    }
    .icon-right {
        display: block;
    }
}
